* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mazsik-red: #e21b22;
  --mazsik-black: #0d0d0d;
}

header {
  background-color: var(--mazsik-black);
}

.brand-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  color: white;
}

.brand-logo span {
  color: var(--mazsik-red);
}
