@import "./base.css";

#app {
  background-color: var(--vt-mazsik-gray);
}

a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--vt-mazsik-red);
  }
}
